Repository YashTotale/react-hash-scroll, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, website

Added precommit script
  .eslintrc
  .huskyrc
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/precommit.ts
  tsconfig.json
  website/tsconfig.json
Labels: documentation, website

Added CHANGELOG TOC checking in precommit script
  CHANGELOG.md
  scripts/precommit.ts
Labels: documentation

Added docs folder
  docs/Components/ChildrenHash.md
  docs/Components/HashScroll.md
  docs/Components/MultiHash.md
Labels: none

Updated CHANGELOG dates
  CHANGELOG.md
Labels: documentation

Added ReusedProps.md
  docs/Components/ReusedProps.md
Labels: none

refactored prebuild script
  scripts/prebuild.ts
Labels: none

Added dotenv
  .env.example
  .gitignore
  .vscode/settings.json
  package-lock.json
  package.json
Labels: none

Added dotenv-safe types
  package-lock.json
  package.json
Labels: none

Added postversion script
  package-lock.json
  package.json
  scripts/helpers.ts
  scripts/postversion.ts
  scripts/precommit.ts
Labels: none

Renamed workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Labels: none

Renamed node workflows
  .github/workflows/deploy.yml
  .github/workflows/integrate.yml
Labels: none

README workflow badges added
  README.md
Labels: documentation

precommit hook builds README
  scripts/helpers.ts
  scripts/postbuild.ts
  scripts/precommit.ts
  tsconfig.json
Labels: none

Added simple-git
  package-lock.json
  package.json
Labels: none

precommit hook stages README after building it
  scripts/helpers.ts
  scripts/precommit.ts
Labels: none

fixed typos in README
  README.md
  docs/Components/MultiHash.md
Labels: documentation

.github/labeler.yml:

documentation:
  - README.md
  - CHANGELOG.md

website:
  - website/**/*
