Repository YashTotale/react-hash-scroll, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, website

Build Wiki worklow only runs on docs change
  .github/workflows/build-wiki.yml
  CHANGELOG.md
Labels: documentation

Added git credentials to build wiki workflow
  .github/workflows/build-wiki.yml
Labels: none

Added git config inside build wiki script
  .github/workflows/build-wiki.yml
  scripts/buildwiki.ts
Labels: none

Build wiki worflow pushes wiki
  .github/workflows/build-wiki.yml
  package-lock.json
  scripts/buildwiki.ts
  scripts/helpers.ts
  scripts/postversion.ts
  scripts/precommit.ts
  tsconfig.json
Labels: none

Git error fixed in Build Wiki workflow
  .github/workflows/build-wiki.yml
Labels: none

Added git config in Build Wiki workflow
  .github/workflows/build-wiki.yml
Labels: none

Empty commits allowed in Build Wiki workflow
  .github/workflows/build-wiki.yml
Labels: none

Fixed push script in Build Wiki workflow
  .github/workflows/build-wiki.yml
  scripts/buildwiki.ts
Labels: none

Fixed build wiki script
  scripts/buildwiki.ts
Labels: none

Added docs restriction on Build Wiki workflow
  .github/workflows/build-wiki.yml
Labels: none

Website redux refactored
  website/package-lock.json
  website/package.json
  website/src/App.tsx
  website/src/Components/Header.tsx
  website/src/Components/Sidebar.tsx
  website/src/Pages/Component.tsx
  website/src/Redux/actions/docs.actions.ts
  website/src/Redux/actions/index.ts
  website/src/Redux/reducers/docs.reducers.ts
  website/src/Redux/reducers/snackbar.reducers.ts
  website/src/Redux/selectors/docs.selectors.ts
  website/src/Redux/selectors/index.ts
  website/src/Redux/thunks/docs.thunks.ts
  website/src/Redux/thunks/index.ts
Labels: website

Fixed duplicatation alert in thunks
  CHANGELOG.md
  website/src/Redux/thunks/docs.thunks.ts
Labels: documentation, website

Fixed unnecessary conditional alert
  website/src/Components/Header.tsx
Labels: website

Changed logo from svg to png
  README.md
  static/icon.png
  static/icon.svg
Labels: documentation

Updated changelog
  CHANGELOG.md
Labels: documentation

1.4.2
  package-lock.json
  package.json
Labels: none

Fixed logo in Readme
  .github/workflows/deploy.yml
  CHANGELOG.md
  README.md
Labels: documentation

v1.4.3
  package-lock.json
  package.json
Labels: none

Updated postversion script
  CHANGELOG.md
  package.json
Labels: documentation

Documentation updates
  README.md
  docs/Components/ChildrenHash.md
  docs/Components/HashScroll.md
  docs/Components/MultiHash.md
  docs/Hooks/useHashScroll.md
  docs/ReusedProps.md
Labels: documentation

More doc updates
  README.md
  docs/Components/ChildrenHash.md
  docs/Components/HashScroll.md
  docs/Components/MultiHash.md
  src/Components/ChildrenHash.tsx
  src/Utils/types.ts
Labels: documentation

Updated website readme, gitignore
  .gitignore
  .vscode/settings.json
  CHANGELOG.md
  website/.gitignore
  website/README.MD
Labels: documentation, website

Added hooks docs to website
  website/src/Pages/Doc.tsx
Labels: website

Fixed import error
  website/src/App.tsx
  website/src/Components/Header.tsx
  website/src/Components/Sidebar.tsx
  website/src/Pages/Component.tsx
  website/src/Redux/actions/docs.actions.ts
  website/src/Redux/reducers/display.reducers.ts
  website/src/Redux/reducers/docs.reducers.ts
  website/src/Redux/reducers/index.ts
  website/src/Redux/reducers/snackbar.reducers.ts
  website/src/Redux/selectors/display.selectors.ts
  website/src/Redux/selectors/docs.selectors.ts
  website/src/Redux/selectors/index.ts
  website/src/Redux/selectors/snackbar.selectors.ts
  website/src/Redux/thunks/docs.thunks.ts
  website/src/store.tsx
Labels: website

Removed travis config
  .travis.yml
Labels: none

Updated website docs
  CHANGELOG.md
  README.md
  scripts/precommit.ts
  website/README.MD
Labels: documentation, website

Add license scan report and status
  README.md
Labels: documentation

Fixed CHANGELOG formatting
  CHANGELOG.md
Labels: documentation

Updated CHANGELOG
  .vscode/settings.json
  CHANGELOG.md
Labels: documentation

v1.4.4
  package-lock.json
  package.json
Labels: none

Updated postversion script
  CHANGELOG.md
  scripts/postversion.ts
Labels: documentation

Added AUTHORS
  AUTHORS
Labels: none

Added CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

Added .editorconfig
  .editorconfig
Labels: none

Added .markdownlintignore
  .markdownlintignore
Labels: none

Added .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

Added CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Added .github/workflows/stale.yml
  .github/workflows/stale.yml
Labels: none

(automated) Added .snyk
  .snyk
Labels: none

fix: upgrade @octokit/rest from 18.0.9 to 18.0.12
  website/package-lock.json
  website/package.json
Labels: website

.github/labeler.yml:

documentation:
  - docs/**/*
  - README.md
  - CHANGELOG.md

website:
  - website/**/*
