Repository YashTotale/react-hash-scroll, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, website

fix: upgrade @material-ui/core from 4.11.1 to 4.11.2
  website/package-lock.json
  website/package.json
Labels: website

(automated) Added .imgbotconfig
  .imgbotconfig
Labels: none

[ImgBot] Optimize images
  static/icon.png
  website/public/logo192.png
  website/public/logo512.png
Labels: website

Updated README Badges
  CHANGELOG.md
  README.md
Labels: documentation

Updated CHANGELOG
  CHANGELOG.md
Labels: documentation

v1.4.5
  package-lock.json
  package.json
Labels: none

fix: upgrade @material-ui/core from 4.11.2 to 4.11.3
  website/package-lock.json
  website/package.json
Labels: website

(automated) Added .gitattributes
  .gitattributes
Labels: none

Updated Post Version & Deploy Scripts
  .github/workflows/deploy.yml
  CHANGELOG.md
  package.json
  scripts/helpers/get-changelog-section.ts
  scripts/helpers/index.ts
  scripts/recreate-releases.ts
Labels: documentation

(automated) Added CODEOWNERS
  CODEOWNERS
Labels: none

Updated Dependabot Config
  .github/dependabot.yml
  CHANGELOG.md
Labels: documentation

fix: upgrade @octokit/rest from 18.0.9 to 18.2.0
  website/package-lock.json
  website/package.json
Labels: website

fix: upgrade react-redux from 7.2.2 to 7.2.3
  website/package-lock.json
  website/package.json
Labels: website

fix: upgrade multiple dependencies with Snyk
  website/package-lock.json
  website/package.json
Labels: website

fix: upgrade redux from 4.0.5 to 4.1.0
  website/package-lock.json
  website/package.json
Labels: website

fix: upgrade @material-ui/core from 4.11.2 to 4.11.4
  website/package-lock.json
  website/package.json
Labels: website

Add SVG Icon
  static/icon.svg
Labels: none

Update React Peer Dependency
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

v1.4.6
  package-lock.json
  package.json
Labels: none

Update Peer Dependencies
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

v1.4.7
  package-lock.json
  package.json
Labels: none

Delete CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update README.md
  README.md
Labels: documentation

Delete .github/dependabot.yml
  .github/dependabot.yml
Labels: none

Delete .snyk
  .snyk
Labels: none

fix: upgrade react-router-dom from 5.2.0 to 5.3.4
  package-lock.json
  package.json
Labels: none

fix: upgrade @octokit/rest from 18.0.9 to 18.12.0
  website/package-lock.json
  website/package.json
Labels: website

fix: upgrade multiple dependencies with Snyk
  website/package-lock.json
  website/package.json
Labels: website

fix: upgrade react-redux from 7.2.2 to 7.2.9
  website/package-lock.json
  website/package.json
Labels: website

fix: upgrade redux from 4.0.5 to 4.2.1
  website/package-lock.json
  website/package.json
Labels: website

Update README.md
  README.md
Labels: documentation

.github/labeler.yml:

documentation:
  - docs/**/*
  - README.md
  - CHANGELOG.md

website:
  - website/**/*
