Repository YashTotale/react-hash-scroll, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, website

Added useHashScroll hook
  .eslintrc
  package-lock.json
  package.json
  scripts/precommit.ts
  src/Components/HashScroll.tsx
  src/Components/MultiHash.tsx
  src/Hooks/useHashScroll.tsx
Labels: none

updated CHANGELOG
  CHANGELOG.md
  scripts/precommit.ts
Labels: documentation

Website 404 page added
  website/public/index.html
  website/src/App.tsx
  website/src/Pages/404.tsx
  website/src/Pages/Component.tsx
  website/src/Pages/Home.tsx
  website/src/Theme.tsx
  website/tsconfig.json
Labels: website

fixed precommit script
  CHANGELOG.md
  scripts/precommit.ts
Labels: documentation

Fixed error throwing in precommit hook
  scripts/precommit.ts
Labels: none

Added docs redux
  website/package-lock.json
  website/package.json
  website/src/App.tsx
  website/src/Pages/Component.tsx
  website/src/Redux/actions/docs.actions.ts
  website/src/Redux/actions/index.ts
  website/src/Redux/reducers/docs.reducers.ts
  website/src/Redux/reducers/index.ts
  website/src/Redux/selectors/docs.selectors.ts
  website/src/Redux/selectors/index.ts
  website/src/Redux/thunks/docs.thunks.ts
  website/src/Redux/thunks/index.ts
  website/src/store.tsx
Labels: website

404 Redirect fixed
  website/public/index.html
  website/src/App.tsx
  website/src/Components/Header.tsx
  website/src/Pages/404.tsx
  website/src/Pages/Home.tsx
Labels: website

Redux docs includes README & CHANGELOG
  CHANGELOG.md
  website/src/Pages/Home.tsx
  website/src/Redux/actions/docs.actions.ts
  website/src/Redux/reducers/docs.reducers.ts
  website/src/Redux/selectors/docs.selectors.ts
  website/src/Redux/selectors/index.ts
  website/src/Redux/thunks/docs.thunks.ts
Labels: documentation, website

Added Markdown css and rendering
  website/.env
  website/.gitignore
  website/package-lock.json
  website/src/App.tsx
  website/src/Pages/Home.tsx
  website/src/Redux/thunks/docs.thunks.ts
  website/src/markdown.css
Labels: website

Removed dark mode option
  website/package.json
  website/src/Components/Header.tsx
  website/src/Pages/404.tsx
  website/src/Pages/Component.tsx
  website/src/Redux/actions/display.actions.ts
  website/src/Redux/actions/index.ts
  website/src/Redux/reducers/display.reducers.ts
  website/src/Redux/selectors/display.selectors.ts
  website/src/Redux/selectors/index.ts
  website/src/Theme.tsx
Labels: website

Sidebar & Sidebar Redux set up
  website/src/App.tsx
  website/src/Components/Header.tsx
  website/src/Components/Sidebar.tsx
  website/src/Redux/actions/display.actions.ts
  website/src/Redux/actions/docs.actions.ts
  website/src/Redux/actions/index.ts
  website/src/Redux/reducers/display.reducers.ts
  website/src/Redux/reducers/docs.reducers.ts
  website/src/Redux/selectors/display.selectors.ts
  website/src/Redux/selectors/index.ts
  website/src/Redux/thunks/docs.thunks.ts
  website/src/Utils/constants.ts
Labels: website

Navbar Menu Btn added
  website/src/App.tsx
  website/src/Components/Header.tsx
Labels: website

Set up Component pages
  website/package-lock.json
  website/src/Components/Sidebar.tsx
  website/src/Pages/Component.tsx
  website/src/Redux/actions/docs.actions.ts
  website/src/Redux/reducers/docs.reducers.ts
  website/src/Redux/thunks/docs.thunks.ts
Labels: website

Added Changelog page
  CHANGELOG.md
  website/src/App.tsx
  website/src/Components/Sidebar.tsx
  website/src/Pages/Changelog.tsx
Labels: documentation, website

Added time check for api request
  website/src/App.tsx
  website/src/Redux/reducers/docs.reducers.ts
  website/src/Redux/selectors/docs.selectors.ts
  website/src/Redux/selectors/index.ts
Labels: website

Added Snackbar & onDemandData thunk
  website/package-lock.json
  website/package.json
  website/src/App.tsx
  website/src/Components/Header.tsx
  website/src/Components/Snackbar.tsx
  website/src/Redux/actions/docs.actions.ts
  website/src/Redux/actions/index.ts
  website/src/Redux/actions/snackbar.actions.ts
  website/src/Redux/reducers/docs.reducers.ts
  website/src/Redux/reducers/index.ts
  website/src/Redux/reducers/snackbar.reducers.ts
  website/src/Redux/selectors/index.ts
  website/src/Redux/selectors/snackbar.selectors.ts
  website/src/Redux/thunks/docs.thunks.ts
  website/src/Redux/thunks/index.ts
  website/src/store.tsx
Labels: website

Added SnackBar error handling
  website/package-lock.json
  website/package.json
  website/src/Components/Snackbar.tsx
  website/src/Redux/reducers/docs.reducers.ts
  website/src/Redux/reducers/snackbar.reducers.ts
  website/src/Redux/thunks/docs.thunks.ts
  website/src/Theme.tsx
Labels: website

Seperated docs into individual components
  website/src/App.tsx
  website/src/Components/Header.tsx
  website/src/Redux/actions/docs.actions.ts
  website/src/Redux/actions/index.ts
  website/src/Redux/reducers/docs.reducers.ts
  website/src/Redux/reducers/snackbar.reducers.ts
  website/src/Redux/selectors/docs.selectors.ts
  website/src/Redux/selectors/index.ts
  website/src/Redux/thunks/docs.thunks.ts
  website/src/Redux/thunks/index.ts
Labels: website

Added error and loading UI
  website/src/App.tsx
  website/src/Components/Alerter.tsx
  website/src/Components/Loading.tsx
  website/src/Components/Sidebar.tsx
  website/src/Components/Snackbar.tsx
  website/src/Pages/Component.tsx
  website/src/Pages/Home.tsx
  website/src/Pages/Readme.tsx
  website/src/Redux/reducers/docs.reducers.ts
  website/src/Redux/thunks/docs.thunks.ts
  website/src/store.tsx
Labels: website

Added website documentation and updated CHANGELOG
  CHANGELOG.md
  README.md
Labels: documentation

Added axios and libraries.io request
  .env.example
  package-lock.json
  package.json
  scripts/precommit.ts
Labels: none

v1.3.1
  package-lock.json
  package.json
Labels: none

Set up demos
  CHANGELOG.md
  demos/.eslintcache
  demos/package-lock.json
  demos/package.json
  demos/public/index.html
  demos/src/App.tsx
  demos/src/index.tsx
  demos/src/react-app-env.d.ts
  demos/tsconfig.json
Labels: documentation

Removed docs folder
  .env.example
  CHANGELOG.md
  README.md
  demos/.eslintcache
  demos/package-lock.json
  demos/package.json
  demos/public/index.html
  demos/src/App.tsx
  demos/src/index.tsx
  demos/src/react-app-env.d.ts
  demos/tsconfig.json
  package-lock.json
  scripts/precommit.ts
Labels: documentation

Removed demos folder
  .env.example
  CHANGELOG.md
  README.md
  demos/.eslintcache
  demos/package-lock.json
  demos/package.json
  demos/public/index.html
  demos/src/App.tsx
  demos/src/index.tsx
  demos/src/react-app-env.d.ts
  demos/tsconfig.json
  docs/Components/ChildrenHash.md
  docs/Components/HashScroll.md
  docs/Components/MultiHash.md
  package-lock.json
  scripts/precommit.ts
Labels: documentation

Updated CHANGELOG and precommit script
  .eslintrc
  CHANGELOG.md
  scripts/precommit.ts
Labels: documentation

v1.3.2
  package-lock.json
  package.json
Labels: none

useHashScroll hook works
  src/Hooks/useHashScroll.tsx
  src/Utils/functions.ts
  src/Utils/types.ts
  src/index.tsx
Labels: none

precommit hook builds README on hooks documentation changes
  CHANGELOG.md
  README.md
  docs/Hooks/useHashScroll.md
  scripts/precommit.ts
Labels: documentation

ReusedProps seperate from Components
  .vscode/settings.json
  README.md
  docs/Components/HashScroll.md
  docs/Hooks/useHashScroll.md
  docs/ReusedProps.md
  scripts/postcommit.ts
  scripts/precommit.ts
Labels: documentation

Changes to workflows
  .github/workflows/deploy.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Labels: none

useHashScroll docs finished
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  CHANGELOG.md
  README.md
  docs/Hooks/useHashScroll.md
Labels: documentation

v1.4.0
  package-lock.json
  package.json
Labels: none

useHashScroll demo added and ChildrenHash warning fixed
  .eslintrc
  .github/workflows/firebase-hosting-merge.yml
  CHANGELOG.md
  README.md
  docs/Hooks/useHashScroll.md
  src/Components/ChildrenHash.tsx
  src/Utils/messages.ts
Labels: documentation

Fixed postcommit hook
  README.md
  package-lock.json
  package.json
  scripts/helpers.ts
  scripts/postcommit.ts
  scripts/precommit.ts
Labels: documentation

HashScroll uses useHashScroll
  scripts/postcommit.ts
  src/Components/HashScroll.tsx
Labels: none

v1.4.1
  package-lock.json
  package.json
Labels: none

updated dependabot config
  .github/dependabot.yml
Labels: none

Added buildwiki workflow
  .github/workflows/build-wiki.yml
  .github/workflows/deploy.yml
  package.json
  scripts/buildwiki.ts
  scripts/postcommit.ts
Labels: none

Fixed husky config
  .huskyrc
Labels: none

.github/labeler.yml:

documentation:
  - docs/**/*
  - README.md
  - CHANGELOG.md

website:
  - website/**/*
